.sell
  .sell-container
    = form_for(@item, url: items_path) do |f|
      .sell-container__content
        .sell-title
          %h3.sell-title__text
            商品名
            %span.sell-title__require
              必須
        = f.text_field :name, {class:'sell-container__content__name', required: "required", maxlength: '40', placeholder: '商品名（必須 40文字まで)'}
        .error-messages#error-name

        .sell-title
          %h3.sell-title__text
            商品の説明
            %span.sell-title__require
              必須
        = f.text_area :introduction,{class: 'sell-container__content__description', required: "required", rows: '7', maxlength: '1000', placeholder: '商品説明'}
        -# placeholderでtems_helperを呼び出す
        .sell-container__content__word-count
          %span#word-count
            0
          &#47;1000
        .error-messages#error-text

      -# 詳細部分
      .sell-container__content
        %h3.sell-sub-head 商品の詳細
        .sell-container__content__details
          .sell-title
            %h3.sell-title__text
              カテゴリー
              %span.sell-title__require
                必須
          .sell-collection_select
            -# = f.select :category_id, Category.all.map { |i| [i.name] }, {} ,{class: 'sell-collection_select__label'}
            = f.text_field :category_id, {class:'sell-container__content__name', required: "required"}
          .error-messages#error-category

          .sell-title
            %h3.sell-title__text
              ブランド
              %span.sell-title__require.arbitrary
                任意
          .sell-collection_select
            = f.collection_select :brand_id, Brand.all, :id, :name, {prompt: "--"} ,{class: 'sell-collection_select__label'}
          .error-messages#error-condition

          .sell-title
            %h3.sell-title__text
              商品の状態
              %span.sell-title__require
                必須
          .sell-collection_select
            = f.select :item_condition_id, ItemCondition.all.map { |i| [i.name] }, {}, {class: 'sell-collection_select__label'}
          .error-messages#error-condition

      -# 配送部分
      .sell-container__content
        %h3.sell-sub-head
          %p 配送について
        .sell-container__content__delivery
          .sell-title
            %h3.sell-title__text
              配送料の負担
              %span.sell-title__require
                必須
          .sell-collection_select
            = f.select :postage_payer_id, PostagePayer.all.map { |p| [p.name] }, {} ,{class: 'sell-collection_select__label'}
          .error-messages#error-deliverycost

          .sell-title
            %h3.sell-title__text
              発送元の地域
              %span.sell-title__require
                必須
        .sell-collection_select
          = f.collection_select :prefecture_code, JpPrefecture::Prefecture.all, :code, :name, {include_blank: '都道府県'}, class: 'sell-collection_select__label'
        .error-messages#error-pref

        .sell-title
          %h3.sell-title__text
            発送までの日数
            %span.sell-title__require
              必須
        .sell-collection_select
          = f.select :preparation_day_id, PreparationDay.all.map { |p| [p.value] }, {} ,{class: 'sell-collection_select__label'}
        .error-messages#error-delivery_days