.product
  = link_to '#' do
    %figure.product__img
      = image_tag "http://placehold.jp/220x150.png"
    .product__body
      %h3.name
        ee
      .details
        %ul
          %li
            1000円
          %li
            = icon('fa', 'star' ,class: 'linkeIcon')
        %p
          (税込み)
.product
  = link_to '#' do
    %figure.product__img
      = image_tag "http://placehold.jp/220x150.png"
    .product__body
      %h3.name
        ee
      .details
        %ul
          %li
            1000円
          %li
            = icon('fa', 'star' ,class: 'linkeIcon')
        %p
          (税込み)
.product
  = link_to '#' do
    %figure.product__img
      = image_tag "http://placehold.jp/220x150.png"
    .product__body
      %h3.name
        ee
      .details
        %ul
          %li
            1000円
          %li
            = icon('fa', 'star' ,class: 'linkeIcon')
        %p
          (税込み)
.product
  = link_to '#' do
    %figure.product__img
      = image_tag "http://placehold.jp/220x150.png"
    .product__body
      %h3.name
        ee
      .details
        %ul
          %li
            1000円
          %li
            = icon('fa', 'star' ,class: 'linkeIcon')
        %p
          (税込み)