.main
  .main__visuals
    .contents
      %h2.main__visuals--content
        人生を変えるフリマアプリ
      %p.main__visuals--content2
        FURIMAはだれでもかんたんに出品・購入できる
        %br
        フリマアプリです
        .main__visuals--content__btn
          %a.main__visuals--content__btna{:href => "#"}
            %img{src: "/assets/apple_app.png"}/
          %a.main__visuals--content__btng{:href => "#"}
            %img{src: "/assets/btn_googleplay.png"}/
  .title
    %h2.title__sub
      FURIMAが選ばれる3つの理由
    .title__list
      .title__list1
        .title__list1--picture
          .title__list1--picture__num
            1
          %img{src: "/assets/freemarketsample1.jpeg"}/
        %h3.title__list1--text
          ３分
          %span.a ですぐに出品
        %p.title__list1--text2 スマホで入力するだけで簡単に出品できる！
      .title__list1
        .title__list1--picture
          .title__list1--picture__num
            2
          %img{src: "/assets/simple.jpeg"}/
        %h3.title__list1--text
          シンプル
          %span.a で使いやすい
        %p.title__list1--text2 めんどくさい入力は必要なく、検索も購入もスムーズ！
      .title__list1
        .title__list1--picture
          .title__list1--picture__num
            3
          %img{src: "/assets/coffee.jpeg"}/
        %h3.title__list1--text3
          手数料
          %span 業界最安
        %p.title__list1--text2 最大3%でお得に出品&購入！
  .middle
    .middle__title
      %h2.middle__title--sub
        会員数日本一位
      %p.middle__title--text
        FURIMAは、フリマアプリで最も人気。
        %br
        出品・購入回数も業界最多です！
        %br
        ほしかったあの商品に出会えるかもしれません。
      .middle__title--btn
        %a.middle__title--btna{:href => "#"}
          %img{:src => "/assets/apple_app.png"}/
        %a.middle__title--btng{:href => "#"}
          %img{:src => "/assets/btn_googleplay.png"}/
  .main__features
    %h2.head
      FURIMAの特徴
    .items
      .item
        %figure.item__img
          = image_tag "/assets/fleamarketsample1.svg", class: "img"
        %h3.item__subtitle
          簡単に売り買いできる
        %p.item__detail
          スマホひとつで、いつでもどこでも簡単に出品・購入が可能！
      .item
        %figure.item__img
          = image_tag "/assets/fleamarketsample2.svg", class: "img"
        %h3.item__subtitle
          売上金は即日振込みに対応
        %p.item__detail
          午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします!
      .item
        %figure.item__img
          = image_tag "/assets/fleamarketsample3.svg", class: "img"
        %h3.item__subtitle
          様々な支払いに対応
        %p.item__detail
          お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。
  .main__contents
    %h2.head
      ピックアップカテゴリー
    .products
      .products__head
        = link_to '#' do
          %h3.title
            新規投稿商品
      .products__lists
        = render partial: 'item'
  .main__contents
    %h2.head
      ピックアップブランド
    .products
      .products__head
        = link_to '#' do
          %h3.title
            アーカイバ
      .products__head
      .products__lists
        = render partial: 'item'