.container
  = render "header"
  .product-show-main-background
    %section.product-show-product-box-container
      %h1
        .item-name
          = @item.name
      .item-main-content
        .item-photo
          //メイン画像
          .image
            -# = image_tag @image.image.to_s, size: "300x300"
            -# - unless @product.status == 0
              .product-tag-sold-out-top
                .sold-out-text-top SOLD
            - else
              .none-sold
          //サムネイル画像
          .owl-dot
            -# - @item.images.each.with_index do |image, index|
              -# - if image.present?
              -#   .owl-dot__product.current
              -#     .owl-dot__product__box
              -#       = image_tag image.image_url, class: "image-sub"
              -# - else
              -#   .owl-dot__product
              -#     .owl-dot__product__box
              -#       = image_tag image.image, class: "image-sub"
            -# - if @item.images.length > 5
              -# - for i in 1..(10 - @item.images.length)
              -#   .owl-dot__dummy
        %table.item-detail-table
          %tbody
            %tr
              %th 出品者
              %td
                -# = link_to "#{@item.user.nickname}", mypages_path, class: "user-name-string";
                .item-user-ratings
                  .item-user-rating
                    = image_tag("")
                    -# = fa_icon "smile-o"
                    %span 0
                  .item-user-rating
                    = image_tag("")
                    -# = fa_icon "meh-o"
                    %span 0
                  .item-user-rating
                    = image_tag("")
                    -# = fa_icon "frown-o"
                    %span 0
            %tr
              %th カテゴリー
              %td
                .item-detail-table-sub
                  -# = @sub2_category.sub_category.main_category.name
                .item-detail-table-sub
                .item-detail-table-sub__sub
                  >
                  -# = @sub2_category.sub_category.name
                .item-detail-table-sub__sub__sub
                  >
                  -# = @sub2_category.name
            %tr
              %th ブランド
              %td
                = link_to "//www.mercari.com/jp/brand/4136/" do
                  .brand-name
                    スリー
            %tr
              %th 商品の状態
              %td
                .item-detail
                  -# = @item.state
            %tr
              %th 配送料の負担
              %td
                .item-detail
                  -# = @item.fee_payer
            %tr
              %th 配送の方法
              %td
                .item-detail らくらくメルカリ便
            %tr
              %th 発送元地域
              %td
                .item-detail.prefecture-name
                  -# = @item.city
            %tr
              %th 配送日の目安
              %td
                .item-detail
                  -# = @item.delivery_time
      .item-price-box
        %span.item-price 
          -# ¥ #{@item.price}
        %span.item-tax (税込)
        %span.item-fee_payer
      -if user_signed_in?
        -if @item.user_id == current_user.id
          = link_to '#', data: {turbolinks: false} do
            .item-edit-btn 商品の編集
            .item-btn-or or
            .item-stop-btn 出品を一旦停止する
          = link_to product_path(@item), method: :delete, data: { turbolinks: false} do
            .item-stop-btn この商品を削除する   
        -else 
          -if @item.status == 0
            = link_to item_card_confirmation_path(@item), data: {turbolinks: false} do
              .item-buy-btn 購入画面に進む
          -else
            .item-buy-btn-sold 売り切れました
      -else
        -# -if @item.status == 0
          = link_to "/users/sign_in" do
            .item-buy-btn 購入画面に進む
        -else
          .item-buy-btn-sold 売り切れました
      -unless user_signed_in? && @product.user_id == current_user.id
        .item-description
          %p.product-description__inner
            -# = @product.detail
        .item-button-container.clearfix
          .item-button-left
            .item-button-like
              %button{type: "button", name: "like!", class: "item-button"}
                -# = fa_icon "heart"
                %span.fade-in-down いいね!
                %span.fade-in-down 0
          .item-button__report
            = link_to "", class: "item-button__report" do
              -# = fa_icon "flag"
              %span.fade-in-down 不適切な商品の報告            
          .item-button-right
            = link_to 'https://www.mercari.com/jp/safe/description/', target: "_blank", class: "safe-description" do
              -# = fa_icon "lock"
              あんしん・あんぜんへの取り組み
    .message-content
    .message-content__box__form
      .item-message-content
        -if @comments 
          -@comments.each do |comment| 
            .item-message-comment
              .message-items
                .message-user
                  = image_tag 'mypage/user-icon.png', size: '30x30', alt: 'user-icon', class:"user-icon"
                  .message-user-name
                    %p
                      = comment.user.nickname
                .message-body
                  = comment.text
                  .message-icons
                    .message-icon-left
                      = fa_icon "history"
                      %span
                        1時間
                    .message-icon-right
                      .message-delete
                        = link_to("/products/#{@item.id}/comments/#{comment.id}",{method:"delete"}) do
                          = fa_icon "trash"
                  %i.icon-ballon
        .item-message-form
          -# = form_for(@comment, url:"/items/#{@item.id}/comments") do |f|
            %p.attention 
              相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
            =f.text_field :text, class:"message-form"
            .message-submit__details
              = f.submit "コメントする", class:"comment-button"
      .nav-item-link
        .previous-item.items-link_to
          -# =fa_icon "chevron-left"
          = link_to "前の商品へ", "#"
          .next-item.items-link_to
            = link_to "次の商品へ", "#"
            -# = fa_icon "chevron-right"
        .item-social-media-box
          .text-center
          %ul.social-media-box
            %li
              = link_to "#", target: "_blank", class: "share-btn" do
                -# = fa_icon "facebook-square"
            %li
              = link_to "#", target: "_blank", class: "share-btn" do
                -# = fa_icon "twitter-square"
            %li
              -# = link_to "#", target: "_blank", class: "share-btn" do
                = fa_icon "pinterest-square"
  = render "footer"