.userContainer
  = render 'common/header'
  .userContainer__userMain
    %h2.userContainer__userMain__title クレジットカード情報
    .userMain
      = form_with(model: @card, url: cards_path, local: true) do |f|
        .userMain__formGroup
          = f.label :カード番号, class: 'userMain__formGroup__label'
          %span.userMain__formGroup__require
            必須
            %br/
          = f.text_field :number, class: 'userMain__formGroup--input', id: "payment_card_no", name: "number", maxlength: "16", autofocus: true, placeholder: "カード番号", value: 4242424242424242
          %br/
        .userMain__formGroup
          = f.label :有効期限, class: 'userMain__formGroup__label'
          %span.userMain__formGroup__require
            必須
            %br/
          = f.date_select :expirationDate, {use_month_numbers: true, start_year:Time.now.year-2000, end_year:Time.now.year-2000+10,order:[:month,:year,:day], discard_day: true, use_month_numbers:true}, {class: 'userMain__formGroup--input triple select'}
          %br/
        .userMain__formGroup
          = f.label :セキュリティコード, class: 'userMain__formGroup__label'
          %span.userMain__formGroup__require
            必須
            %br/
          = f.text_field :number, class: 'userMain__formGroup--input', id: "payment_card_security_code", name: "cvc", maxlength: "3", autofocus: true, placeholder: "CVC", value: 123
        .userMain__actions
          %button{type: "submit", class: 'userMain__actions--Btn', id: "card-save"} 登録
  = render 'common/footer'