.userContainer
  = render 'common/header'
  .userContainer__userMain
    %h2.userContainer__userMain__title クレジットカード情報
    .userMain
      = form_with(model: @card, url: cards_path, local: true, class: "card-form") do |f|
        .userMain__formGroup
          = f.label :カード番号, class: 'userMain__formGroup__label'
          %span.userMain__formGroup__require
            必須
            %br/
          = f.text_field :number, class: 'userMain__formGroup--input', id: "card_number_form", name: "number", maxlength: "16", placeholder: "カード番号", value: 4242424242424242
          %br/
          = image_tag 'material/card_type.png', class:"userMain__formGroup--image"
        .userMain__formGroup
          = f.label :有効期限, class: 'userMain__formGroup__label'
          %span.userMain__formGroup__require
            必須
            %br/
          = f.date_select :expirationMonth, {use_month_numbers: true, discard_year: true, discard_day: true}, {class: 'userMain__formGroup--input card select',id: 'exp_month_form'}
          %span.userMain__formGroup__carDel 月
          = f.date_select :expirationYear, {use_month_numbers: true, start_year:Time.now.year, end_year:Time.now.year+10, discard_month: true, discard_day: true}, {class: 'userMain__formGroup--input card select', id: 'exp_year_form'}
          %span.userMain__formGroup__carDel 年
          %br/
        .userMain__formGroup
          = f.label :セキュリティコード, class: 'userMain__formGroup__label'
          %span.userMain__formGroup__require
            必須
            %br/
          = f.text_field :cvc, class: 'userMain__formGroup--input', id: "cvc_form", name: "cvc", maxlength: "3", placeholder: "カード背面4桁もしくは3桁の番号", value: 123
        .userMain__actions#card_token
          = f.submit "登録する", class: 'userMain__actions--Btn', id: "regist_card"
          = link_to mypage_index_path, class: 'userMain__actions--link' do
            もどる
  = render 'common/footer'