%header.header
  .header__headerInner
    .header__headerInner__mainHeader
      %h1.header__headerInner__mainHeader__icon
        = link_to'#' do
          = image_tag 'material/logo.png'

      .header__headerInner__mainHeader__searchBox
        %form
          %input{type: "text", name: "key", placeholder: "キーワードから探す", class: "header__headerInner__mainHeader__searchBox--input"}
          = button_tag type: 'submit', class: 'header__headerInner__mainHeader__searchBox__submit' do
            .header__headerInner__mainHeader__searchBox__icon
              = image_tag 'material/icon-search 1.png'
    .header__headerInner__nav
      %ul.header__headerInner__nav__listsLeft
        %li.header__headerInner__nav__listsLeft__item
          = link_to '#', id: 'catBtn' do
            カテゴリー
        %li.header__headerInner__nav__listsLeft__item.header__headerInner__nav__listsLeft__item--brand
          = link_to '#' do
            ブランド
      %ul.header__headerInner__nav__listsRight
        - if user_signed_in?
          %li.header__headerInner__nav__listsRight__item
            = link_to destroy_user_session_path, method: :delete do
              ログアウト
        - else
          %li.header__headerInner__nav__listsRight__item
            = link_to new_user_session_path do
              ログイン
          %li.header__headerInner__nav__listsRight__item
            = link_to new_user_registration_path do
              新規会員登録